<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <%# adds blog_ruler between each Blog content %>
  <%= render partial: @blogs, spacer_template: "blog_ruler" %>
</div>

<%= link_to "New blog", new_blog_path %>

<%# Syntax for Caching data%>

<%# <% cache do %>
  <%#  html
<% end %> 
